{# example template, please override in your project #}
{% set template %}{% spaceless %}
    <li>
        <a href="#" data-gs-item-link>
            <h3 data-gs-item-title></h3>
            <p data-gs-item-description></p>
        </a>
    </li>
{% endspaceless %}{% endset %}
{% set patternTemplate %}{% spaceless %}
    <div>
        <h3 data-gs-item-title></h3>
        <div data-gs-item-description></div>
    </div>
{% endspaceless %}{% endset %}
<input type="search" placeholder="Search" id="gs-search-input"
       data-result-template="{{ template|escape('html') }}"
       data-request-uri="{{ path('group_search') }}"
/>
<button>Search</button>
<div>
    <div id="gs-pattern-reply" style="display: none"
         data-result-template="{{ patternTemplate|escape('html') }}"
    ></div>
    {% for i, group in groups %}
        <div data-group-result-identifier="{{ group.identifier|default(i) }}"
             data-no-results-template="{{ group.no_results_message|default('<li>No results found for {term}</li>') }}"
        >
            {% if group.title %}
                <h3>{{ group.title }}</h3>
            {% endif %}
            <ul data-group-results-container></ul>
        </div>
    {% endfor %}
</div>
